*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.navbar{
	float:left;
	width:20%;
	height:100vh;
	background-color:lightblue;
}
.wrapper{
	width:80%;
	position: relative;
	float:right;
}
.home{
	height:100vh;
	background-color:lightgreen;
	text-align:center;
	line-height: 2em;
}
.section{
	width: 60%;
	height:220px;
    border: 10px solid white;
    padding: 25px;
   	position:relative;
   	top:50%;
   	left:50%;
   	transform: translate(-50%,-50%);
}


