/*
*
*
*
*
General Rules
*
*
*
*/


/* css reset */
*{
	/*removes default paddings and margins*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
}

.wrapper
{
	width: 700px;
	margin: 0 auto;
	background:url("https://i.pinimg.com/736x/44/21/e2/4421e22423262ed0f4f138091a80a20e--pretty-things-beautiful-things.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
header {
	background-color: 	#73aeff;
	height:70px;
	line-height:70px;
	text-align: center;
	color: white;
	font-size:10px;
	text-transform: uppercase;
}
footer	{
	background-color: #307be1	;
	height:70px;
	line-height: 70px;
	color:white;
	text-align:center;
	font-size: 14px;
}
form {
	text-align: right;
	padding:10px 20px 20px;  top = 10px, right = 20px , bottom = 20px*, leftside = 20px
	margin: auto;
}
main {
	padding: 20px 10px 1px

}
h3{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	color:white;
	background-color:rgba(0,0,0,0.5);

}
/*
*
*
*
Dashboard
*
*
*/
#postCircle,
#imageCircle{
	height: 70px;
	width: 70px;
	background-color: red;
	border-radius: 50%;
	text-align:center;
	line-height:70px;
	color:white;
	float: left;
}
#postCircle{
	background-color: #4cae4c;
}
#imageCircle{
	background-color: #357ebd;

}
.inline-blocked{
	display:inline-block;
	margin-left:20px:;
	font-size:20px;
	font weight: bold
	text-align:center;
	color:white;
	background-color:rgba(0,0,0,0.5);
}

.dashColumns{
	width: 32%;
	height: 100px;
	display: inline-block;
}

/*
*
*
*
buttons
*
*
*
*/
.btn{
	border: none;
	padding: 15px 30px; /* 15px=top&bottom 30px=left and right*/
	font-size: 14px;
	border-radius: 5px; /* removes edges */
	color: white;

}
.btn-blue{
	background-color: #09c; /*#09c = #0099cc */
}

.btn-green{
	background-color: #4caf50;
}
/***
*
*
*
Images
*
*
*/
.img-set-holder{
	text-align: center;

}
.img-set{
	height: 100px; /*defined to maintain aspect ratio of images */
	width: 100px; 
	padding: 5px; /*target all sides: top,right,bottom, left*/
	background-color: #fff;
	border-radius: 3px;
	margin:0 5px;
}

/*
*
*
*
Posts
*
*
*/
#postTitle,
#postContent{
	width:100%;
	border-radius:3px;
	padding: 10px;
}

#postTitle{
	margin-bottom:20px;

}
#postContent{
	height: 100px;
	margin-bottom:10px ;
}
#mainDashboard{
	position: relative;
	width: 100%;
}	
.me{
	width: 100%;

}