/*p{
	background-color:yellow;
}
#para1 {
	background-color:red;
}
.paragraphs{
	background-color:orange;
}
a[target]{
	color:green;
}

a[target="_blank"]{
color: indigo;
}*/

/*universal selector*/
/*body * {
	background-color:green;
}*/

/*h5 + a{
	background-color:red;
}

a +br+ a,
a+ br + br a {
	background-color:green;
}*/
/*general sibling selector*/
/*h5 ~ div a {
	background-color: yellow;
}*/

/*child selector*/

/*div > a {
	background-color:blue;
}*/

/*div a {
	background-color:yellow;
}*/

/*pseudo-class*/
a:link{
	color: orange;
	background-color:black;
	padding: 4px;
}
a:visited{
	color:yellow;
	background-color:green;
}
/*a:focus{
	background-color:black;
	color: red;
}*/

/*a:hover{
	background-color:blue;
	color:orange;
	transition:color 1s ease-in;
}
a:active,
h3:active,
h5:active{
	background-color:yellow;
	color:black;
}*/

/*first child*: last child*/
/*li:first-child,
li:last-child{
	background-color:black;
	color:yellow;
}

p:first-child,
p:last-child{
	background-color:black;
	color:yellow;
}*/

/*even and odd*/
/*li:nth-child(odd),
p:nth-child(odd){
	background-color:black;
	color:orange;
}
*/

/*h3,
h5,
p,
li,
a:link{
	background-color:blue;
	color:red;
}
*/*/*/*/*/*/*/*/*/*/
p{
	background-color: black;
	color: yellow;
}
.thirdPara{
	background-color:blue;
	color:red;
}
#lastChild{
	background-color:green;
	color:blue;
}

div > p.thirdPara{
	background-color:blue;
	color:red
	;
}