/*Css Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*To avoid overflow*/
}
body{
	background-image:url('https://rfclipart.com/image/big/c2-68-ce/seamless-background-with-cakes-Download-Royalty-free-Vector-File-EPS-205188.jpg');
}

.wrapper{
	width: 80%;
	margin:0 auto; /*to center the wrapper */
	background-color: #fff;
	font-family: 'Pacifico', cursive;
}

/*div{
	padding:20px;
}
*/
.grandparent{
	background-color:skyblue;
	/*width: 80%;*/ /* refer to parent container width */
	position: fixed;
	bottom: 0px;
	width: inherit;
}

.parent{
	background-color: pink;
	position: relative;
	width:100%; /*refer to grandparent container width */
}

p{
	font-size: 25px;
	font-family: 'Poiret One', cursive;
}

input[name="submit"]{
	margin-left: 20px;
}

strong{
	background-color: yellow;
	position: absolute;
	top:10px;
	left:10px;
}

h1{
	background-color: grey;
	padding: 10px;
	position: fixed;
	z-index:1; /* will push element on top or remove overlapping*/
	width: inherit;
}
/*main.wrapper > p{
	height: 1000px;
	background-color: #efefef;
	position: relative;
	top:70px;
}*/

/*div{
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	position: absolute;
}*/

.blue{
	background-color: blue;
	top: 20px;
	left: 20px;

}
.yellow{
	background-color: yellow;
	top: 40px;
	left: 40px;
	z-index:1;
}
.orange{
	background-color: orange;
	top: 60px;
	left: 60px;
}


/*
*
*
PAGE 4 CSS RULES
*
*
*/
/*main.wrapper div {
	padding: 0;
	margin: 0;
}*/

.menu{
	height: 50px;
	background-color: #8a124d;
	position:relative;
	color:white;
	text-align:center;
}
.sidebar {
	height: 300px;
	background-color: #f09a9d;
	width:20%;
	float:left;  /*Possible value: right, none, left*/
/*	height:100%;*/
}



/*
*
*
Content*
*
*/


.content{
/*	height: 500px;*/
	background-color: lightyellow;
	width: 100%;
	float: left;
	padding: 20px;
	font-family: 'Lobster', cursive;
	background-image: url('https://www.google.com.ph/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi_kq-y4u_XAhWLJJQKHbL2AIQQjRwIBw&url=https%3A%2F%2Fwww.pptgrounds.com%2Ffoods-drinks%2F3152-cupcakes-for-foods-backgrounds&psig=AOvVaw0axN9QLLDW-TLWNgbfmxty&ust=1512456646604171');
}
.article-image{
	width: 300px;
	float: left;
	margin: 20px;
}

div.content > p{
	margin-bottom: 10px;
}
.footer{
/*	height: 400px;*/
	background-color: #8a124d;
/*	border:5px solid green;*/
}

.username{
	margin-bottom: 15px;
}

h3.username + p{
	overflow: hidden;
}
.page{
	/*border: 1px solid red;*/
/*	height:500px;*/
}

.avatar{
	width: 60px;
	height: 60px;
	background-color:#d639fe;
	border-radius:50%;
	float:left;
	margin-right: 25px;
	background-image: url('https://www.justbake.in/userfiles1/1kg-Classic-chips.jpg/60/60/');
}

.avatar{
	width: 60px;
	height: 60px;
	background-color:#d639fe;
	border-radius:50%;
	float:left;
	margin-right: 25px;
	background-image: url('https://www.justbake.in/userfiles1/1kg-Classic-chips.jpg');
}

.avatar1{
	width: 60px;
	height: 60px;
	background-color:#d639fe;
	border-radius:50%;
	float:left;
	margin-right: 25px;
	background-image: url('http://www.crustncakes.com/wp-content/uploads/2014/10/Will-You-Merry-Me.jpg');
}
.avatar2{
	width: 60px;
	height: 60px;
	background-color:#d639fe;
	border-radius:50%;
	float:left;
	margin-right: 25px;
	background-image: url('http://www.crustncakes.com/wp-content/uploads/2014/10/Will-You-Merry-Me.jpg');

}




/*
*
*
* BEST WAY TO CLEAR FLOATS
*
*/

.clear:after{
	content: "";
	display: block;
	clear: both;
}

.column{
	background-color: #b2d6ff;
	height: 160px;
	width:31%;
	margin: 20px 1.16%;
/*	border: 1px solid red;*/
	float:left;
	padding: 15px;
	position: relative

}

/* Managing text-overflow with multiline support */

.block-with-text{
	overflow: hidden;
	position: relative;
	line-height: 1.2em; /* em = default font-size, 16px */
	max-height: 3.6em;
	text-align: left;
	margin-right: -1em;
	padding-right: 30px;

}
.block-with-text:before{
	content: "...";
	right: 58px;
	position: absolute;
	bottom: 0;
}
.block-with-text:after: {
	content:"";
	position: absolute;
	right: 17px;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background-color: #b2d6ff;
}
.read-more{
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.cccafe{
	font-size:20px;
}
.cakes{
	display:inline-block;
	cursor:pointer;

}

.icon{
	float:left;
	padding:2px;
	cursor:pointer;
	padding-left:70px;
}

.list{
	display:inline-block;
	padding:0;
	padding-left:8px;
	padding-right:8px;
	padding-top:7px;
	cursor:pointer;
	transition:color .5s ;
}
.nav-container{
	float:right;
}

.list:hover{
	color:pink;
	trasn
}